#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 > #backgroundBox {
  position: absolute;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 > #alignmentBox {
  position: relative;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 69.44940476190476px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #87F488;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_1 {
  position: absolute;
  width: 289.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Rockwell Extra Bold',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Rockwell Extra Bold',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 800;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Rockwell Extra Bold',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 800;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 {
  position: absolute;
  width: 1253.0000000000005px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Path_1 {
  position: absolute;
  width: 2.0px;
  height: 63.0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_3 {
  position: absolute;
  width: 136.5156250000001px;
  min-height: 24.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_4 {
  position: absolute;
  width: 136.5156250000001px;
  min-height: 24.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_5 {
  position: absolute;
  width: 141.43359375px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #0079B6;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_6 {
  position: absolute;
  width: 59.468750000000114px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_7 {
  position: absolute;
  width: 52.468749999999886px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_8 {
  position: absolute;
  width: 1323.0000000000005px;
  min-height: 568.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 {
  position: absolute;
  width: 145.2781844802339px;
  min-height: 50.613861386138524px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #0079B6;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_58 {
  position: absolute;
  width: 421.31836795388px;
  min-height: 141.69197396963125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_58 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_58 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_58 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Paragraph_58 span#rtr-s-Paragraph_58_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Image_4 .imageViewport > * {
  width: 129.00976290097648%;
  height: 148.2371794871795%;
  left: -14.435146443514842%;
  top: -24.118589743589716%;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Image_4 {
  position: absolute;
  width: 457.42972181551914px;
  height: 255.19091872553406px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 {
  position: absolute;
  width: 246.00000000000045px;
  min-height: 377.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 {
  position: absolute;
  width: 246.00000000000045px;
  min-height: 54.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #71E1F1;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 {
  position: absolute;
  width: 246.00000000000068px;
  min-height: 55.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #88DFEC;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 input::-moz-placeholder {
  color: #82888C;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 input:-moz-placeholder {
  color: #82888C;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Path_91 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 38.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 span {
  color: #3FAA54;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #3FAA54;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4c97d23-0971-411b-a9e3-dc7c2cd71b71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}